body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(51, 84, 84);
}

.calculator{
    background-color: rgb(211, 211, 211);
    padding: 20px;
    border-radius: 20px;
}

.screen{
    width: 245px;
    background-color: rgb(176, 205, 176);
    font-size: 40px;
    text-align: end;
    overflow: hidden;
    /* overflow: scroll; */
}

.button{
    width: 254px;
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: 20px;
    border: none;
    width: 50px;
    height: 50px;
    margin: 4px;
    background-color: rgb(131, 129, 129);
    color: rgb(255, 255, 255);
    font-size: 40px;
}

button:hover{
    background-color: rgb(111, 110, 100);
}

button:active{
    background-color: rgb(232, 232, 232);
}

#equal{
    background-color: rgb(218, 2, 2);
}

#equal:hover{
    background-color: rgb(198, 1, 1);
}

#clear{
    width: 100%;
    background-color: rgb(252, 226, 27);
    font-size: 30px;
}

#clear:hover{
    background-color: rgb(252, 201, 17);
}